<app-employee-filter (filterChange)="onFilterChange($event)"></app-employee-filter>

<div class="container">
  <mat-card class="table-card">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container *ngFor="let column of columns" [matColumnDef]="column.id">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [style.minWidth.px]="column.minWidth"
          [style.color]="'#000000'"
          [style.backgroundColor]="'#9ab4f3'"
          [style.fontSize.px]="10">
          {{ column.label }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [style.textAlign]="column.align" [style.fontSize.px]="9">
          <ng-container *ngIf="column.id !== 'delete'; else deleteCell">
            {{ column.format ? column.format(row[column.id]) : row[column.id] }}
          </ng-container>
          <ng-template #deleteCell>
            <button mat-icon-button (click)="deleteEmployee(row.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-template>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsIds"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsIds; trackBy: trackByFn"></mat-row>
    </mat-table>
    
    <!-- Separate paginator below the table -->
    <mat-paginator
      [length]="dataSource.data.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="handlePageEvent($event)">
    </mat-paginator>
  </mat-card>
</div>
