<div class="outer-container">
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title>
          <span class="title">Employee Directory</span>
          <button mat-fab extended (click)="openAddEmployeeDialog()" style="margin-left: 20px;">
            <mat-icon>add</mat-icon>
            Add Employee
          </button>
        </mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
        <app-employee-table></app-employee-table>
      </mat-card-content>
    </mat-card>
  </div>
  