.filter-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  margin: 15px 0;
  align-items: center;
}


.filter-input {
  width: 130px; 
}


.mat-form-field-label-wrapper .mat-form-field-label {
  font-size: 10px !important; 
  font-weight: normal !important; 
  color: #333; 
  transform: translateY(-12px) scale(0.75); 
}


input.mat-input-element {
  font-size: 10px !important; 
  padding: 2px 4px; 
  color: #333;
  font-weight: normal !important;
  height: 20px !important; 
}


mat-form-field {
  padding: 0;
  margin: 2px; 
  height: auto; 
}
